{% extends 'layouts/main.html' %}
{% block title %}- Geometry Observe{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Geometry Library</h1>
</div>
<p class="lead">Index of available detector geometries, setups, etc.</p>

<p>This page shows designed for web-browser access. Provides various
information about available geometry in GDML or ROOT format.</p>

{% endblock %}


